<div class="container_12">
  <div class="grid_8 push_2">
    <div class="feature_icon">
      <%= image_tag ("sign_up.svg") %>
    </div>
    <p class="pg_title"> sign up </p>
  </div>
  <div class="grid_8 push_2">
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email, :class => "form_title" %><br />
      <%= f.email_field :email, :class => "form_field", :autofocus => true %></div>

      <div><%= f.label :password, :class => "form_title" %><br />
      <%= f.password_field :password, :class => "form_field" %></div>

      <div><%= f.label :password_confirmation, :class => "form_title" %><br />
      <%= f.password_field :password_confirmation, :class => "form_field" %></div>

      <div><%= f.submit "Sign up", :class => "submit_btn" %></div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>