
<h1>Edit Alert</h1>

<%= form_for @transit do |f| %>
  <div class="field">
    <%= f.label :route_id %><br />
    <%= f.collection_select :route_id, Route.order(:r_title), :id, :r_title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :direction_id %><br />
    <%= f.grouped_collection_select :direction_id, Route.order(:r_title), :directions, :id, :id, :d_title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :stop_id %><br />
    <%= f.grouped_collection_select :stop_id, Direction.order(:d_title), :stops, :id, :id, :s_title, include_blank: true %>
  </div>
  <div class="field">
    <%= f.label :buffer %><br />
    <%= f.text_field :buffer %>
  </div>
  <div class="field">
    <%= f.label :start_time %><br />
    <%= f.time_select :start_time, {:minute_step => 15, :ampm => true} %>
  </div>
  <div class="actions"><%= f.submit %></div>
<% end %>

<%#= render 'form' %>

<%#= link_to 'Show', @transit %>
<%= link_to 'Back', transits_path %>
