<div class="container_12">
  <div class="list_title grid_4 push_2">Saved Muni Alerts</div>
  <%= flash[:notice] if flash[:notice] %>
  <div class="grid_5 push_2 white" id="new_button">
    <%= link_to 'Add New Alert', new_transit_path, :class => "white" %>
  </div>
<div>
  <% @transits.each do |transit| %>
    <div class="grid_8 push_2">

      <div id="route">
        <%= transit.route.r_tag %>
      </div>

      <div class="result">
        <div>
          Heading <%= transit.direction.d_title %>
        </div>

        <div>
          From <%= transit.stop.s_title %>
        </div>
        <div class="time_tag">
          <%= transit.start_time.strftime("%I:%M %p") %>
        </div>
        <div class="push_1" id="actions">
            <%= link_to image_tag('/assets/edit.svg'), edit_transit_path(transit) %>
            <%= link_to image_tag('/assets/trashcan.svg'), transit, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
      </div>
      <div class="rule"></div>
    </div>
  <% end %>
</div>
<div>

</div>
</div>
